.modal-title {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

kbd svg {
  height: 12px !important;
  width: 12px !important;
}

.modal-action {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
          animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 1px #acacac, 0 0 2px #8a8a8a, 0 0 2px #747474, 0 0 5px #525252;
  }
  to {
    text-shadow: 0 0 5px #e0e0e0, 0 0 8px #cccccc, 0 0 15px #aaaaaa, 0 0 20px #929292;
  }
}
