.clock {
  opacity: 1;
  position: absolute;
  top: 5%;
  right: 0;
  width: auto;
  color: white;
  text-align: right;
  font-size: 18px;
  z-index: 30;
}

.clock .clock-container {
  width: auto;
  border: 1px solid #dadada;
  border-right: none;
  border-radius: 3px;
  padding: 5px 40px 5px 20px;
  z-index: 30;
}

.clock .clock-container p {
  letter-spacing: 1px;
  margin-right: 20px;
  text-shadow: 2px 2px 5px black;
}
