details article {
  opacity: 0;
}

details[open] article {
  animation: fadeIn .75s linear forwards;
}

button[aria-expanded="true"] {
  background-color: #c7ffffc9;
  color: #1a1a1a;
}

button[aria-expanded="true"]:hover {
  background-color: #5a6363c9;
  color: #ffffff;
}

/* button[aria-expanded="true"] svg {
  display: none;
  transition: 0.8s;
} */

#pc-button[aria-expanded="true"] #pc-off-icon {
  display: none;
}

#pc-button[aria-expanded="false"] #pc-on-icon {
  display: none;
}

.list-item-btn-image {
  padding: 5px;
}


