
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.vr {
  margin: 0 10px;
}

.vr1 {
  margin-left: 50px;
  margin-right: 10px;
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentcolor;
  opacity: .25;
}

.group-header {
  font-size: 1.3em;
  margin-bottom: 32px;
  margin-top: 32px;
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

.group-header:hover {
  color: rgba(255, 255, 255, 0.726);
}

.link-container {
  margin-top: 32px;
}

.btn-image {
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  left: 8px;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  opacity: 0.8;
}

.btn-text {
  text-decoration: none;
  position: relative;
  width: 100%;
  line-height: 1.5;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

.social-button, .card {
  z-index: 0;
  overflow: hidden;
  margin-bottom: 16px;
  border: none;
  background-color: #00000099;
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
  box-shadow: #0a0b0d14 0px 2px 4px 0px;
  border-radius: 4px;
  position: relative;
  height: auto;
  font-size: 1.3em;
}

.card-body {
  padding: 0;
}

.category {
  text-align: center;
  width: 60px;
}

button {
  display: flex;
  padding-left: 66px;
  padding-right: 66px;
  position: relative;
  text-align: center;
  height: auto;
  position: relative;
  padding: 16px 20px;
  width: 100%;
  appearance: none;
  box-sizing: border-box;
  vertical-align: middle;
  align-items: center;
  margin: 0px;
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: #ffffffde;
  z-index: 1000;
  transition: 0.3s;
}

button:hover {
  border: none;
  color: black;
  background-color: #c7ffffc9;
}

button:hover::after {
  content: "";
  border-right: 5px solid #c7ffffc9;
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
  position: absolute;
  height: 100%;
  right: 0;
}
